.button {
    display: block;
    width: 300px;
    min-width: 150px;
    background-color: rgb(213, 194, 194);
    color: black;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    border: none;
    outline: none;
}
.button:hover{
    opacity: .8;
}

.button--success{
    background-color: rgb(91, 130, 33);
    color: white;
}

.button--warning{
    background-color: rgb(164, 171, 24);
    color: white;
}

.button--danger{
    background-color: rgb(130, 33, 33);
    color: white;
}

.button--big{
    width: 500px;
    height: 100px;
}